<!DOCTYPE html>
<html>
  <head>
    <title>Form Submission</title>
  </head>
  <body>
    <h1>Thanks for submitting the form, <%= name %>!</h1>
    <p>Your email address is <%= email %>.</p>
  </body>
</html>
